[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.dll
*.exe
*.pdf
*.mid
*.midi
*.wav
*.mp3
*.ogg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.lock
*.lock.json
*.prefab.unityproj
*.pdb
*.swp
*.sln
*.sln.docstates
*.log
*.vsconfig
*.sln*
*.userprefs
*.git/
